@charset "utf-8";
/* Dropdown Button */
.dropbtn {
 	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn { color: #e4010f;}





.home_background_container{
	margin-bottom: 300px !important;
}
.header{
	width: 100%;
}
.header_content
{
	background-color: white;
}
p{
	color: black !important;
}
ol li{
	color: black !important;

}
.footer{
	background-color: #1a1a1a;
	padding: 20px;
}
.circle_st{
	position: absolute;
	bottom: -100px;
	 text-align: center;
	display: flex;
	flex-direction: column;
}
.active_card{
	 
	 top: 0;
	 
}
.circle_flex{
	display: flex;
	justify-content: center;
	top:50px;
}
.course_card{
	margin-top: 90px;
	border-radius: 20px;
}
.homepage_header{
	justify-content: center;
	position: fixed;
	z-index: 11;
	width: 100%; 
}
.student_card{
	background-color: red;
	border-radius: 5px;
	width: 400px;
	padding: 20px;
	margin:0px 40px 0px 40px;
	color: white;
	font-size: 15px;
	font-weight: bolder;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer_t{
	color: white;
	font-size: x-large;
	font-weight: bolder;
}
.apply_online{
	height: 104px;
	font-size: 25px;
	text-align: center;
	min-height: 100%;
 	margin-left: 20px;
	background-color: red;
  	display: flex;
    flex-direction: column;
	justify-content: center;
	color: white;
	padding: 0px 20px 0px 20px;
	font-weight: bold;
	cursor: pointer;
}
.roundButton{
	border-radius: 50px;
	background-color: teal;
	padding: 15px 100px 5px 100px;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:black;
	box-shadow: 0px 2px 10px 0px;
	cursor: pointer;

}
.active
{
	color: #e4010f !important;
}
.largetitle{
	font-size: 40px;
	font-weight: bold;
}
.why_item{
	font-size: medium;
	color: #1a2d61;
}
.circle_img{
 	 
	border-radius: 90px;
 
}
.more{
	border-radius: 5px;

}
.why_box{
	background-color: #1b2d62;
	min-height: 100px;
}
.about{
	color: #e4010f !important;

}
.circle_container{
	background-color: #eaebec;
	padding: 20px;
	height:80px;
	border-radius: 5px;
	display: flex;justify-content: center;
}
.circle{
	background-color: #ee1c25;height: 90px;width: 90px; border-radius: 50%;
 	top: -50px;
	 
	display: flex;
	flex-direction: column;
	justify-content: center
}
@media only screen and (max-width: 400px){
	
.nav-header{
	display: none;
}
}
 


/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.header
	{
		width: 1200px;
	}
	.header_content
	{
		width: calc(100% - 219px);
	}
	.main_nav_container
	{
		padding-right: 63px;
	}
	.header_side
	{
		width: 219px;
	}
	.header_side span
	{
		font-size: 14px;
	}
	.header_side img
	{
		width: 20px;
		height: 20px;
	}
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.header
	{
		width: 90%;
	}
	.header_content
	{
		width: 100%;
	}
	.header_side
	{
		display: none !important;
	}
	.main_nav_container
	{
		padding-right: 53px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	.main_nav_item
	{
		margin-right: 33px;
	}
}

/************
6. 991px
************/
.home_container{
	height: 100vh;
	margin-top: -120px;
}
@media only screen and (max-width: 991px)
{
	 .home_background_container_home{
		 margin-top: 160px;
		height: 100vh;
		}
	.home_container{
			height: 50vh;
		}

	.homepage_header{
		 background-color: transparent !important;
		 position: fixed	;
		 /* z-index: 0; */
	}
	.student_card{
		margin-top: 140px;
	}
	   
	.main_nav_container
	{
		display: none !important;
 		
	}
	 
	.hamburger_container
	{
		color: black;
		display: block;
	}
	.sidebar
	{
		margin-top: 120px;
	}
	.newsletter_form_container
	{
		width: 90%;
	}
	.footer_col
	{
		margin-bottom: 30px;
	}
	.footer_col:last-child
	{
		margin-bottom: 0px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.menu_container
	{
		right: -100vw;
		width: 100vw;
		height: 100vh;
	}
	.news_post_title_container
	{
		margin-top: -4px;
		padding-left: 21px;
	}
	.news_post_title a
	{
		font-size: 27px;
	}
	.newsletter_email
	{
		width: 100%;
	}
	.newsletter_submit_btn
	{
		margin-top: 15px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h1{font-size: 24px;}
	p{font-size:13px;}
	.header
	{
		height: 74px;
	}
	.logo_container
	{
		padding-left: 15px;
	}
	.logo img
	{
		width: 250px;
	}
	.logo span
	{
		font-size: 16px;
	}
	.hamburger_container
	{
		right: 5px;
	}
	.menu
	{
		top: 70px;
	}
	.menu_item
	{
		margin-bottom: 0px;
	}
	.menu_item a
	{
		font-size: 24px;
	}
	.menu_copyright
	{
		display: none;
	}
	.menu_social_container
	{
		margin-top: 50px;
	}
	.menu_close_container
	{
		right: 30px;
		top: 34px;
	}
	.home
	{
		height: 372px;
	}
	.home_content
	{
		padding-top: 17px;
	    padding-bottom: 11px;
	    padding-left: 22px;
	    padding-right: 24px;
	}
	.home_content h1
	{
		font-size: 30px;
	}
	.news_post_title_container
	{
		margin-top: 20px;
		padding-left: 0px;
	}
	.news_post_date
	{
		width: 55px;
		height: 55px;
	}
	.news_post_date div:first-child
	{
		font-size: 18px;
	}
	.news_post_date div:last-child
	{
		font-size: 11px;
	}
	.news_post_title a
	{
		font-size: 20px;
	}
	.news_post_text
	{
		margin-top: 20px;
	}
	.news_post_button
	{
		width: 138px;
		height: 42px;
	}
	.news_post_button a
	{
		font-size: 14px;
		line-height: 42px;
	}
	.tag
	{
		height: 35px;
	}
	.tag a
	{
		font-size: 14px;
		line-height: 35px;
		padding-left: 23px;
    	padding-right: 23px;
	}
	.footer_bar
	{
		padding-top: 49px;
		padding-bottom: 52px;
	}
	.footer_social
	{
		margin-top: 20px;
	}
	.footer_copyright span
	{
		font-size: 13px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.header
	{
		height: 60px;
		top: 15px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}